<?xml version="1.0"?>
<config>
    <modules>
        <PressLoft_Affiliate>
            <version>1.0.1</version>
        </PressLoft_Affiliate>
    </modules>
    <global>
        <blocks>
            <pressloft_affiliate>
                <class>PressLoft_Affiliate_Block</class>
            </pressloft_affiliate>
        </blocks>
        <helpers>
            <pressloft_affiliate>
                <class>PressLoft_Affiliate_Helper</class>
            </pressloft_affiliate>
        </helpers>
        <models>
            <affiliate>
                <class>PressLoft_Affiliate_Model</class>
                <resourceModel>affiliate_Mysql4</resourceModel>
            </affiliate>
            <affiliate_Mysql4>
                <class>PressLoft_Affiliate_Model_Mysql4</class>
                <entities>
                    <schedule>
                        <table>affiliate_schedule</table>
                    </schedule>
                </entities>
            </affiliate_Mysql4>
        </models>
        <resources>
            <affiliate_setup>
                <setup>
                    <module>PressLoft_Affiliate</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </affiliate_setup>
            <affiliate_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </affiliate_write>
            <affiliate_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </affiliate_read>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <affiliate_token><to_order>*</to_order></affiliate_token>
            </sales_convert_quote>

            <sales_convert_order>
                <affiliate_token><to_quote>*</to_quote></affiliate_token>
            </sales_convert_order>
        </fieldsets>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <PressLoft_Affiliate before="Mage_Adminhtml">PressLoft_Affiliate_Adminhtml</PressLoft_Affiliate>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <amfeed>
                    <file>pressloft/affiliate/affiliatelogs.xml</file>
                </amfeed>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <affiliate>
                <use>standard</use>
                <args>
                    <module>PressLoft_Affiliate</module>
                    <frontName>affiliate</frontName>
                </args>
            </affiliate>
        </routers>
        <translate>
            <modules>
                <PressLoft_Affiliate>
                    <files>
                        <default>PressLoft_Affiliate.csv</default>
                    </files>
                </PressLoft_Affiliate>
            </modules>
        </translate>
        <layout>
            <updates>
                <pressloft_affiliate>
                    <file>pressloft_affiliate.xml</file>
                </pressloft_affiliate>
            </updates>
        </layout>
        <events>
            <sales_order_place_after>
                <observers>
                    <pressloft_affiliate_promo_model_observer>
                        <type>singleton</type>
                        <class>PressLoft_Affiliate_Model_Observer</class>
                        <method>affiliateCreation</method>
                    </pressloft_affiliate_promo_model_observer>
                </observers>
            </sales_order_place_after>
        </events>
    </frontend>
    <crontab>
        <jobs>
            <pressloft_affiliate_send_data>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>affiliate/cron_observer::sendDataToPressLoft</model>
                </run>
            </pressloft_affiliate_send_data>
            <pressloft_affiliate_check_affiliate_id>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>affiliate/cron_observer::usageCheck</model>
                </run>
            </pressloft_affiliate_check_affiliate_id>
        </jobs>
    </crontab>
    <default>
        <pressloft_affiliate>
            <general>
                <enable>0</enable>
            </general>
        </pressloft_affiliate>
    </default>
</config>
